.btn-lg{
    height: 30px;
    /* margin:3px 3px 9px 3px; */
    color: white;
    width:40px;
    padding:0px;
}

.container{
    max-width:100%;
}

h1{
    text-align: center;
    background-color: rgb(66, 64, 64);
    color: white;
    padding: 7px;
}

aside{
    justify-content:start;
    background-color: rgb(238, 235, 235);
}

.text{
    width:250px;
}
table{
    border: 1px solid grey;
    width:250px;
}
.details{
    border: 1px solid grey;
}
.searchInfo{
    max-height: 400px;
}
.tr{
    width: 100%;
    background-color: whitesmoke;
    color: rgb(114, 112, 112);
    border: 1px solid grey;
}
.daily{
    background-color: rgb(5, 54, 54);
    color:whitesmoke;
}
.card{
    max-width:200px;
    margin:3px;

}